body {
    background: url(../img/mainWallpapers/nightFon.jpg) fixed;
}

#topMenuOne {
    top: 5px;
}

.MenuToImg img {
    border: 1px groove silver;
    float: left;
}

.middleMenu {
    padding: 0.6% 0 0 1.4%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.MenuToImg p {
    padding: 1%;
    font-size: 1.1em;
}

#MenuTo {
    text-overflow: ellipsis;
    margin: 10% 0;
    color: #fff;
    padding: 4%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#MenuThree {
    text-overflow: ellipsis;
    margin: 10% 0;
    color: #fff;
    padding: 4%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.middleMainContainer {
    margin: 0.5% 0.5% 2% 5%;
    width: 75%;
}

#faBars {
    background: #fff;
}

#myCarousel {
    margin: 5.5% 0;
    z-index: 1;
}

.carousel-inner img {
    width: 100%;
    max-height: 500px;
    background-size: cover;
}

.middleMenu {
    font-size: 1.5em;
    width: 15%;
    margin: 10% 20% 30% 42%;
    border-radius: 10px;
    border: 2px groove #6f6f6f;
    color: #fff;
}

.navigation {
    z-index: 1;
}

.middleMenu:hover {
    border-radius: 10px;
    border: 3px groove #6f6f6f;
}

#navRight {
    float: right;
    position: fixed;
    margin: 0 0 0 95%;
    padding: 65% 0 10px;
    font-size: 4em;
    width: 6%;
    z-index: 2;
}

#navRight i:active {
    transform: rotate(-15deg);
    background: none;
    z-index: 2;
}

.iconMenu {
    z-index: 2;
    float: right;
    position: fixed;
    margin-left: 75%;
    width: 13%;
}

.iconMenu a {
    border: 0;
    padding: 5px 1% 0 1%;
    color: #fff;
}

.iconMenu i:active {
    transform: rotate(90deg);
}

#containerMenu {
    position: fixed;
    margin: 0;
    width: 25%;
    z-index: 2;
}

.div-bar {
    position: fixed;
    float: left;
    margin: 10px 0 0 25px;
    border-radius: 5px;
    border-color: #fff;
    color: #222;
}

#menuToggle {
    font-family:'Lato', sans-serif;
    display: none;
    margin: 15% 0 0 8%;
    padding: 0;
    float: left;
}

#menuToggle i {
    padding: 5px;
    font-size: 1.5em;
    background: #fff;
    border: 1px groove #737373;
    border-radius: 5px;
}

#menuToggle i:link {
    border: 0;
    padding: 5px 1% 0 1%;
    color: #fff;
}

#menuToggle i:active {
    border-radius: 10px;
    border: 2px groove #6f6f6f;
}

#menuToggle button {
    border: 3px groove #6f6f6f;
    color: #fff;
    width: 100%;
    padding: 5px;
    font-size: 1.5em;
    margin: 0;
    border-radius: 5px;
    background: #18191d;
}

#menuToggle button:hover {
    border: 2px groove #6f6f6f;
}

#menuToggle button:active {
    border: 3px solid silver;
}